@import url('https://fonts.cdnfonts.com/css/raptor-kill'); 


input.error {
    font-size: small;
    font-family: 'Raptor Kill', sans-serif;
    border: 1px black;
    background-color: rgba(0, 0, 0, 0.2);
}

section p {
    font-size: medium;
    font-family: 'Raptor Kill', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: none;
}

section {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
form {
    padding-top: 20px;
}
form h1 {
    font-size: xx-large;
}
body {
    flex-wrap: wrap;
    font-family: 'Raptor Kill', sans-serif;
    background-color: black;
    background-image: url("../window.jpg");
    background-attachment: fixed;
}

#bdd-error-msg {
    margin: 20px 20px 20px 0px;
    text-indent: 20px;
    background-color: rgb(255, 0, 0 , 0.30);
    color: white;
    flex-wrap: wrap;
    font-family: 'Raptor Kill', sans-serif;
    font-size: medium;
}