@import url('https://fonts.cdnfonts.com/css/raptor-kill'); 

nav {
    font-size: 20px;
    font-family: 'Raptor Kill', sans-serif;
    background-color: rgb(0, 0, 0, .40);
    text-decoration: none;
    color: lightgrey;
    margin-top: -10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
a {
    color: lightgrey;
    text-decoration: none;
}
